/* Services.css */

.service-card-wrapper {
  perspective: 1000px;
}

.service-card {
  transition: all 0.5s ease;
}

.service-card:hover {
  transform: rotateY(20deg) rotateX(10deg) scale(1.1);
}
@keyframes borderAnimation {
  0% {
    border-top: 3px solid #00b0ff;
    border-right: 2px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 2px solid transparent;
  }
  25% {
    border-top: 2px solid transparent;
    border-right: 2px solid #00b0ff;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  50% {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #00b0ff;
    border-left: 2px solid transparent;
  }
  75% {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #00b0ff;
  }
  100% {
    border-top: 2px solid #00b0ff;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }
}

